body, footer { font-family: Arial, sans-serif; background-color: #f0f8ff; color: #333; margin: 0; padding: 0; }
header, footer { background-color: #4CAF50; color: white; padding: 20px; text-align: center; }
h1 { margin: 0; font-size: 2.5em; }
h3 { margin: 10px 0; font-weight: normal; }
article { padding: 20px; margin: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
p, li { line-height: 1.6; }
ul { list-style-type: disc; margin: 10px 0 10px 20px; }
footer { position: fixed; width: 100%; bottom: 0; }


.footer {
    background-color: #4CAF50; color: #000; padding: 20px; text-align: center; color: #000;
    font-family: Arial, sans-serif; font-size: 16px; margin-top: 20px; border-top: 2px solid #34A853;
}
.footer-content { margin-bottom: 10px; }
.footer-links { margin-top: 10px; }
.footer-link { margin-right: 10px; text-decoration: none; color: #4285F4; }
.footer-link:last-child { margin-right: 0; }
a{ text-decoration: none; color: #000;}


/* Estilos Responsivos */
@media (max-width: 600px) {
    h1 {
        font-size: 1.8em; /* Reduce el tamaño del título en móviles */
    }

    h3 {
        font-size: 1.2em; /* Reduce el tamaño de los subtítulos */
    }

    article {
        margin: 10px; /* Reduce el margen del artículo en móviles */
        padding: 10px; /* Reduce el padding del artículo en móviles */
    }

    .svg-logo {
        width: 100%; /* Hace que el logo se ajuste al ancho completo en móviles */
        height: auto; /* Mantiene la proporción del logo */
    }
    footer {font-size: 14px; /* Reduce el tamaño de la fuente del footer */}
}

/* Estilos para pantallas más grandes (tablets y PCs) */
@media (min-width: 601px) {
    article {
        max-width: 800px; /* Limita el ancho del artículo en pantallas grandes */
        margin: 20px auto; /* Centra el artículo en pantallas grandes */
    }
}


.svg-logo { width: 600px; height: 100px;}
.text_logo{ text-align: center; font-family: Arial, sans-serif; font-size: 20px; margin-top: 10px; color:white;}
.text_sd { text-align: center; font-family: Arial, sans-serif; font-size: 20px; margin-top: 10px; color:white;}
.background { fill: #f8f8f8;}
.grad-start { stop-color: #4285F4; stop-opacity: 1;}
.grad-end { stop-color: #34A853; stop-opacity: 1;}
.text { font-family: Arial, sans-serif; font-size: 80px; font-weight: bold; fill: url(#grad1);}
.path-blue { stroke: #4285F4; stroke-width: 8; fill: none;}
.path-green { stroke: #34A853; stroke-width: 8; fill: none;}


